<header class="media" id="header">
	<a id="menu-toggle" href=""></a> 
	<a href="{{ path('brainapp_index') }}" class="logo pull-left">Brainapp 1.0</a>
	<div class="media-body">
    	<div id="top-menu" class="media">
        	<div class="pull-left tm-icon">
            	<a href="" class="drawer-toggle" data-drawer="messages">
                	<i class="sa-top-message"></i>
                    <i class="n-count animated">5</i>
                    <span>Messages</span>
				</a>
			</div>
			<div class="pull-left tm-icon">
            	<a href="" class="drawer-toggle" data-drawer="notifications">
                	<i class="sa-top-updates"></i>
                    <i class="n-count animated">9</i>
                    <span>Updates</span>
				</a>
			</div>
			{# RIGHT MENU #}
			<div class="pull-right" id="time">
            	<span id="hours">14</span>:
            	<span id="min">28</span>:
            	<span id="sec">14</span>
			</div>
			<div class="media-body">
            	<input type="text" class="main-search">
			</div>
		</div>
	</div>
</header>