{{ form_start(c_mask_user_cat) }}
	<div role="form">
		<div class="form-group">
			<div class='input-group input-group'>
				<span class='input-group-addon' id='sizing-addon2'>Name</span>
				{{ form_widget(c_mask_user_cat.categoryName) }}
				{% block otherFormFields %}
				{% endblock %}
			</div>
		</div>
		<div class="form-group">
			<div class='input-group input-group'>
				{{ form_widget(c_mask_user_cat.save) }}
			</div>
		</div>
	</div>
{{ form_end(c_mask_user_cat) }}