<div class="modal fade" id="modalMaskCreateBuchungUmbuchung" role="dialog">
	<div class="modal-dialog">
	   <!-- Modal content-->
	   <div class="modal-content">
	     <div class="modal-header">
	       <button type="button" class="close" data-dismiss="modal">&times;</button>
	       <h4 class="modal-title">Einnahme hinzuf&uuml;gen</h4>
	     </div>
			{{ form_start(mask_buchung, {'action': path('create_buchungen_umbuchung')} ) }}
				{% include 'BrainappCoreBundle:Dashboard/BuchungViews/Widgets:widget_buchungUmbuchung.html.twig' %}
			{{ form_end(mask_buchung) }}
	   </div>
	</div>
</div>
