<!-- Modal content-->
<div class="modal-content">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Umbuchung bearbeiten</h4>
  </div>
  {{ form_start(mask_buchung, {'action': path(routeToTake)} ) }}
      {% include 'BrainappCoreBundle:Dashboard/BuchungViews/Widgets:widget_buchungUmbuchung.html.twig' %}
  {{ form_end(mask_buchung) }}
</div>
<!-- Ende Modal content-->