{% extends "::base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 
				   'bundles/brainappcore/css/default_template.css'
				   'bundles/brainappcore/css/general.css' filter="cssrewrite" %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}

{% block body %}

{% block navbar %} {# NAVBAR #}
	{% include 'BrainappCoreBundle:Navbar:navbar_default.html.twig' %}
{% endblock navbar %}


{% block content %}
<div class="container-fluid">
      <div class="row">
      	{# SIDEBAR nav #}
      	<div class="col-sm-3 col-md-2 sidebar">
			{% include 'BrainappCoreBundle:Navbar:sidebar_default.html.twig' %}
		</div>
		{# MAIN block #}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        	{% block main %}{% endblock %}
        </div>
	</div>
</div>
{% endblock content %}

{# FOOTER #}
{% block footer %}
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer col-md-8">
                        <h3>Projektgruppe KMI14/WI14</h3>
                        <p><strong>Brainapp</strong> entstand im Rahmer einer studentischen Projektarbeit der Hochschule für Telekommunikation Leipzig (HfTL) durch die Studentengruppe KMI14/WI14</p>
                    </div>
                    <div class="footer-col col-md-4">
{#                         <h3>Around the Web</h3>#}
{#                         <ul class="list-inline">#}
{#                             <li>#}
{#                                 <a class="btn-social btn-outline" href="#"><i class="fa fa-fw fa-facebook"></i></a>#}
{#                             </li>#}
{#                             <li>#}
{#                                 <a class="btn-social btn-outline" href="#"><i class="fa fa-fw fa-google-plus"></i></a>#}
{#                             </li>#}
{#                             <li>#}
{#                                 <a class="btn-social btn-outline" href="#"><i class="fa fa-fw fa-twitter"></i></a>#}
{#                             </li>#}
{#                             <li>#}
{#                                 <a class="btn-social btn-outline" href="#"><i class="fa fa-fw fa-linkedin"></i></a>#}
{#                             </li>#}
{#                             <li>#}
{#                                 <a class="btn-social btn-outline" href="#"><i class="fa fa-fw fa-dribbble"></i></a>#}
{#                             </li>#}
{#                         </ul>#}
                    </div>
                    <div class="footer-col col-md-3 col-md-offset-1">
                    	<img alt="" src="{{ asset('bundles/brainappcore/images/hftl-logo-n.png') }}" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Brainapp 2015
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock footer %}

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a href="#page-top" class="btn btn-primary">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
{% endblock body %}

{% block javascripts %}
{{ parent() }}
{% endblock %}
    