{% extends "::base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 'bundles/brainappcore/css/modern_*'
				   'bundles/brainappcore/css/general.css' filter="cssrewrite" %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}

{% block body %}
<div id="skin-blur-violate">
	{% block header %}
	{% include 'BrainappCoreBundle:Template/Navbar:header_modern.html.twig' %}
	{% endblock header %}
	
	
	{% block content %}
	{% endblock content %}
</div>
{% endblock body %}

{% block javascripts %}
{{ parent() }}
{% javascripts 'bundles/brainappcore/js/functions.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
    