<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>.:: {% block title %}Brainapp{% endblock %} ::.</title>
        {% stylesheets '@kernel_css' filter="cssrewrite" %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    	{% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
   	<body id="page-top">
	{% block body %}{% endblock %}
    {% javascripts '@kernel_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block javascripts %}
    {% endblock javascripts %}
    </body>
</html>
