<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header page-scroll">
			<button data-target="#brainapp-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle" type="button">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="#page-top" class="navbar-brand">Brainapp</a>
		</div>
		
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div id="brainapp-navbar-collapse-1" class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="hidden active">
					<a href="#page-top"></a>
				</li>
				{% if modal_login is defined %}{% if modal_login %}
				<li class="">
					<a href="" type="button" data-toggle="modal" data-target="#loginModal"><i class="fa fa-fw fa-lock"></i> Login</a>
				</li>
				{% else %}
				<li class="page-scroll">
					<a href="#about">About</a>
				</li>
				{% if modal_login is defined %}{% if modal_login %}
				<li class="">
					<a href="" type="button" data-toggle="modal" data-target="#loginModal"><i class="fa fa-fw fa-lock"></i> Login</a>
				</li>
				{% else %}
				<li class="page-scroll">
					<a href="#login"><i class="fa fa-fw fa-lock"></i> Login</a>
				</li>
				{% endif %}{% endif %}
			</ul>
		</div>
	</div>
</nav>