{% extends "BrainappCoreBundle:Template:template_default.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 'bundles/brainappcore/css/login.css' filter="cssrewrite" %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}

{% block header %}{% endblock %}

{% block content %}
<section id="login">
	<header>
		<h1>BRAINAPP</h1>
	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu risus. Curabitur commodo lorem fringilla enim feugiat commodo sed ac lacus.</p>
	</header>
	<div class="clearfix"></div>
 	{# include content #}
	{% include 'BrainappUserBundle:Registration:register_content.html.twig' %}
</section>
{% endblock %}

