{% use "bootstrap_3_layout.html.twig" %}
{% set label_attr = { 'class': 'sr-only' } %}
<div class="col-lg-5 col-md-5 col-xs-12 form-box">
	<div class="form-top">
		<div class="form-top-left">
			<h3>Jetzt <span class="text-success">KOSTENLOS</span> registrieren</h3>
			<p>Fülle das Formular aus und erhalte sofort Zugang:</p>
		</div>
		<div class="form-top-right">
			<i class="fa fa-pencil"></i>
		</div>
	</div>
	<div class="form-bottom">
{# 			<div class="alert alert-danger alert-dismissible" role="alert">#}
{# 				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
{# 				<strong>Es ist ein Fehler aufgetreten!</strong> {{ form_errors(form) }}#}
{# 			</div>#}
		{{ form(form, { 'attr': { 'novalidate': 'novalidate'} }) }}
			<a href="#login" class="btn btn-default btn-block page-scroll">Bereits registriert?</a>
	</div>
</div>

