@CHARSET "ISO-8859-1";

body {
    overflow-x: hidden;
    color: #2c3e50;
}
p {
    font-size: 20px;
}
p.small {
    font-size: 16px;
}
a, a:hover, a:focus, a:active, a.active {
    color: #18bc9c;
    outline: 0 none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: inherit;
}
.img-centered {
    margin: 0 auto;
}
footer {
    color: #fff;
}
footer h3 {
    font-family: "open-sans-semibold",Arial,Helvetica,sans-serif;
    margin-bottom: 30px;
}
footer .footer-above {
    background-color: #2c3e50;
    padding-top: 50px;
}
footer .footer-col {
    margin-bottom: 50px;
}
footer .footer-below {
    background-color: #233140;
    padding: 25px 0;
}