@CHARSET "ISO-8859-1";

@media (min-width: 768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        transition: padding 0.3s ease 0s;
    }
    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        transition: all 0.3s ease 0s;
    }
    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }
    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}
.navbar, .navbar-brand, .navbar a {
    text-shadow: none !important;
}
.navbar {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.navbar a:focus {
    outline: 0 none;
}
.navbar .navbar-nav {
    letter-spacing: 1px;
}
.navbar .navbar-nav li a:focus {
    outline: 0 none;
}
.navbar-default, .navbar-inverse {
    border: 0 none;
}

.navbar-default {
    background: #3A3A3C;
    border-color: transparent;
}
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    background-color: transparent;
    color: #408F9A;
}
.navbar-default .navbar-text {
    color: #777777;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #408F9A;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: #408F9A;
    color: #ffffff;
}
.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
    background-color: transparent;
    color: #cccccc;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: #408F9A;
    color: #ffffff;
}
.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
    background-color: transparent;
    color: #cccccc;
}
.navbar-default .navbar-toggle {
    border-color: #408F9A;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: #408F9A;
}
.navbar-default .navbar-toggle .icon-bar {
    background: #ffffff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: #408F9A;
    color: #ffffff;
}

