hr.star-light, hr.star-primary {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 5px 0 0;
    margin: 25px auto 30px;
    max-width: 250px;
    padding: 0;
    text-align: center;
}
hr.star-light::after, hr.star-primary::after {
    content: "";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 2em;
    padding: 0 0.25em;
    position: relative;
    top: -0.8em;
}
hr.star-light {
    border-color: #fff;
}
hr.star-light::after {
    background-color: #408F9A;
    color: #fff;
}
hr.star-primary {
    border-color: #3A3A3C;
}
hr.star-primary::after {
    background-color: #fff;
    color: #3A3A3C;
}

/** LAYOUT **/
header {
    background: #408F9A none repeat scroll 0 0;
    color: #fff;
    text-align: center;
}
header label{
    color: #3a3a3c;
}
header .container {
    padding-bottom: 50px;
    padding-top: 100px;
}
header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text{
	font-family: "open-sans-regular",Arial,Helvetica,sans-serif;
	margin-bottom: 50px;
}
header .intro-text .name {
    display: block;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
}
header .intro-text .subtitle {
    font-size: 1.75em;
    font-weight: 300;
}

@media (min-width: 768px) {
	header .container {
	    padding-bottom: 100px;
	    padding-top: 200px;
	}
	header .intro-text .name {
	    font-size: 4.75em;
	}
	header .intro-text .skills {
	    font-size: 1.75em;
	}
}

section {
    padding: 80px 0;
}
section h2 {
    font-size: 3em;
    margin: 0;
}
section.success {
    background: #408F9A none repeat scroll 0 0;
    color: #fff;
}
section.success a, 
section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active {
    color: #e20074;
    font-family: "open-sans-regular",Arial,Helvetica,sans-serif;
}

@media (max-width: 767px) {
	section {
	    padding: 75px 0;
	}
	section.first {
	    padding-top: 75px;
	}
}
.btn-outline {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #fff;
    color: #fff;
    font-size: 20px;
    margin-top: 15px;
    transition: all 0.3s ease-in-out 0s;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #fff;
    color: #408F9A;
}

.btn-social {
    border: 2px solid #fff;
    border-radius: 100%;
    display: inline-block;
    font-size: 20px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    width: 50px;
}
.btn:focus, .btn:active, .btn.active {
    outline: 0 none;
}
.scroll-top {
    bottom: 2%;
    height: 50px;
    position: fixed;
    right: 2%;
    width: 50px;
    z-index: 1049;
}
.scroll-top .btn {
    border-radius: 100%;
    font-size: 20px;
    height: 50px;
    line-height: 28px;
    width: 50px;
}
.scroll-top .btn:focus {
    outline: 0 none;
}

