@CHARSET "ISO-8859-1";


 .panel-table
 {
     margin-bottom: 20px;
     max-width: 600px;
 }
 .panel-table-heading
 {
     overflow: auto;
 }
 .btn-group-panel-table
 {
     float: right;
     margin-left: 10px;
 }
 
 .input-group-widgetlabel
 {
 	width: 100px;
 	word-break: word-break;
 }
 
 .input-widget
 {
 	margin-bottom: 5px;
 	width: 100%;
 }
 
 .data-panel-table-headline
 {
     float: left;
     font-size: 1.5em;
     font-weight: bold;
 }