 <div class="modal fade" id="modalMaskDeleteBudgetVorlage" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">M&ouml;chten Sie das Budget <strong id="modalMaskDeleteBudgetVorlage_budgetVorlageName">empty</strong> wirklich l&ouml;schen?</h4>
      </div>
      <div class="modal-body">
	        <form action="{{ path('delete_user_budget_vorlage') }}" method="post" novalidate="novalidate">
	    		<div class="form-group">
	    			<input type="hidden" class="form-control" name="#ff_budgetVorlageId" required="required">
	    			<span class="help-block"></span>
	    		</div>
	    		<div class="form-group">
	    			<button type="submit" id="submit" class="btn btn-default">L&ouml;schen</button>
	    			<button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
	    		</div>
	    	</form>
      </div>
    </div>
  </div>
</div>  