{% extends 'BrainappCoreBundle:Dashboard:addUserMainCategory.html.twig' %}

{# override addUserCategoryHeader #}
{% block addUserCategoryHeader %}
	{% if parentCatName is not null %}
		<h2 class='sub-header'>Neue Unterkategorie anlegen für "{{ parentCatName }}"</h2>
	{% else %}
		<h2 class='sub-header'>Fehler!</h2>
	{% endif %}
{% endblock %}

{# override addUserCategoryBody #}
{% block addUserCategoryBody %}
	{% include 'BrainappCoreBundle:Dashboard/Widgets:form_create_subCategory.html.twig' %}
{% endblock %}


