{% extends 'BrainappCoreBundle:Dashboard:default_dashboard.html.twig' %}

{# override dashboardContent #}
{% block dashboardContent %}
	{% block addUserCategoryHeader %}
		<h2 class='sub-header'>Fehler!</h2>
	{% endblock %}

	{% if  error is not null %}
		<div class="form-group">
			<div class="alert alert-danger" role="alert">	
				{{ error }}
			</div>
		</div>
	{%  endif %}
{% endblock %}