{% use "bootstrap_3_layout.html.twig" %}
{% set label_attr = { 'class': 'sr-only' } %}
<div class="col-lg-5 col-md-5 col-xs-12 form-box">
	<div class="form-top">
		<div class="form-top-left">
			<h3>Login</h3>
		</div>
		<div class="form-top-right">
			<i class="fa fa-secure"></i>
		</div>
	</div>
	<div class="form-bottom">
		<form id="form-login" action="{{ path("fos_user_security_check") }}" method="post" novalidate="novalidate">
			<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
			<div class="form-group">
				<label for="username" class="control-label">Benutzername/E-Mail Adresse</label>
				<input type="text" class="form-control" id="username" name="_username" {% if last_username is defined %}value="{{ last_username }}" {% endif %}placeholder="Benutzername oder E-Mail-Adresse" title="Geben Sie Ihren Benutzernamen an" required="required">
				<span class="help-block"></span>
			</div>
			<div class="form-group">
				<label for="password" class="control-label">Passwort</label>
				<input type="password" class="form-control" id="password" name="_password" placeholder="Passwort" value="" required="required" title="Geben Sie Ihr Passwort an">
				<span class="help-block"></span>
			</div>
			<div id="loginErrorMsg" class="alert alert-error hide">Wrong username og password</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" name="remember" id="remember"> Anmeldung speichern
				</label>
				<p class="help-block"></p>
			</div>
			<button type="submit" id="submit" name="_submit" class="btn btn-success btn-block btn-lg">Login</button>
			<a href="{{ path('resetting_request') }}" class="btn btn-default btn-block">Passwort vergessen?</a>
		</form>
	</div>
</div>

