<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="loginModalLabel">Login</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert" id="error" style="display: none;">
          <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Login fehlgeschlagen!</strong> <span id="message"></span>
        </div>
        <form id="form-login" action="{{ path("fos_user_security_check") }}" method="post" novalidate="novalidate">
    		<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    		<div class="form-group">
    			<label for="username" class="control-label">Benutzername/E-Mail Adresse</label>
    			<input type="text" class="form-control" id="username" name="_username" {% if last_username is defined %}value="{{ last_username }}" {% endif %}placeholder="Benutzername oder E-Mail-Adresse" title="Geben Sie Ihren Benutzernamen an" required="required">
    			<span class="help-block"></span>
    		</div>
    		<div class="form-group">
    			<label for="password" class="control-label">Passwort</label>
    			<input type="password" class="form-control" id="password" name="_password" placeholder="Passwort" value="" required="required" title="Geben Sie Ihr Passwort an">
    			<span class="help-block"></span>
    		</div>
    		<div id="loginErrorMsg" class="alert alert-error hide">Wrong username og password</div>
    		<div class="checkbox">
    			<label>
    				<input type="checkbox" name="remember" id="remember"> Anmeldung speichern
    			</label>
    			<p class="help-block"></p>
    		</div>
    		<button type="submit" id="submit" name="_submit" class="btn btn-success btn-lg btn-block">Login</button>
    		<a href="{{ path('resetting_request') }}" class="btn btn-default btn-block">Passwort vergessen?</a>
    	</form>
        
      </div>
    </div>
  </div>
</div>