{% trans_default_domain 'FOSUserBundle' %}

<form id="box-reset" action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="box animated tile active">
	<h2 class="box-title">Passwort zurücksetzen</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu risus. Curabitur commodo lorem fringilla enim feugiat commodo sed ac lacus.</p>
    {% if invalid_username is defined %}
		<p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
	{% endif %}
    <input type="email" placeholder="E-Mail Adresse" class="login-control" name="email" required="required" />
    <input type="text" placeholder="Benutzername" class="login-control" name="username" required="required" />
	<button class="btn btn-sm m-r-5">{{ 'resetting.reset.submit'|trans }}</button>
	<small><a href="{{ path('login') }}">Account bereits vorhanden?</a></small>
{# 	<small><a href="" data-switch="box-login" class="box-switcher">Account bereits vorhanden?</a></small>#}
</form>
