<form id="box-reset" class="box animated tile">
	<h2 class="box-title">Reset Password</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu risus. Curabitur commodo lorem fringilla enim feugiat commodo sed ac lacus.</p>
	<input type="email" placeholder="Email Address" class="login-control m-b-20">
	<button class="btn btn-sm m-r-5">Reset Password</button>
	<small><a href="" data-switch="box-login" class="box-switcher">Already have an Account?</a></small>
</form>